<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block titulo_head %}
            <title></title>
        {% endblock %}
        <title>Inicio</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="{% static 'AppHosp/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="./">Hospital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active " href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active " href="{% url 'pacientes' %}">Pacientes</a></li>
                        <li class="nav-item"><a class="nav-link active " href="{% url 'empleados' %}">Empleados</a></li>
                        <li class="nav-item"><a class="nav-link active " href="{% url 'servicios' %}">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link active " href="{% url 'sobreMi' %}">Sobre mi</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        {% block main %}
        {% endblock %}
        <footer style="position: absolute; width:100%; bottom:0 " class="py-2 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Proyecto Hospital 2022</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
