{% extends "AppHospital/padre.html" %}

{% load static %}

{% block titulo_head %}
   <title>Sobre mi</title>
{% endblock %}


{% block main %}
   <div>
        <h2>
            Sobre mi
        </h2>
        <p>
            Mi nombre es Cristian Segura, tengo 22 años y soy desarrollador Front-end jr. <br>
            Comencé a estudiar programación este año (2022) en enero, por mi cuenta, viendo <br> 
            videos de youtube y buscando cosas en google. Hice algunos cursos en Coder, <br>
            Desarrollo Web, JavaScript y React js para formarme como Front-end, y gracias a <br>
            esos cursos estoy trabajando como programador hace ya dos meses. <br>
            Hice este curso de Python porque muchisima gente me lo recomendo, y <br>
            para seguir formandome como programador. <br>

        </p>
   </div>

{% endblock %}