{% extends "AppHospital/padre.html" %}

{% load static %}

{% block titulo_head %}
   <title>Sobre mi</title>
{% endblock %}


{% block main %}
   <div style="margin-top:20px">
        <h2>
            Sobre mi
        </h2>
        <p>
            Mi nombre es Cristian Segura, tengo 22 años y soy desarrollador Front-end jr. <br>
            Comencé a estudiar programación este año (2022) en enero, por mi cuenta, viendo <br> 
            videos de youtube y buscando cosas en google. Hice algunos cursos en Coder, <br>
            Desarrollo Web, JavaScript y React js para formarme como Front-end, y gracias a <br>
            esos cursos estoy trabajando como programador hace ya dos meses. <br>
            Hice este curso de Python porque muchisima gente me lo recomendo, y <br>
            para seguir formandome como programador. <br>

        </p>
        <h2>
            Sobre el proyecto
        </h2>
        <p>
            Se trata de un blog hecho en django, tal como aprendimos en el curso. <br> 
            La idea sería que sea una especie de foro o de comunidad entre toda la gente que estudia y/o <br>  
            está involucrada en todo el tema de la salud, sean doctores, enfermeros, radiologos, etc. <br>
            Que sea un lugar donde hagan posteos y puedan venir a buscar información que quizas les sirva. <br>
            El proyecto lo hice solo, no por elección, sino porque mis dos compañeros dejaron  <br> 
            el curso, uno en la etapa de cursada y otro en la etapa de este proyecto, me comuniqué <br> 
            con él pero no hubo respuestas.
        </p>
   </div>

{% endblock %}